<%= form_for @user do |f|%>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
<% end %>
   

<%= f.label(:username, "Username") %>
<%= f.text_field :username %> 
<%= f.label(:email, "Email")%>
<%= f.text_field :email, placeholder: "example@example.com" %> 
<%= f.label(:password, "Password") %>
<%= f.password_field :password %> 
<%= f.submit "Submit", class: "submit"%>
<% end %>

